.field {
    float: left;
    margin: 5px;
    margin-left: 10px;
}

.field.no-gap {
    margin-left: 0px;
}

:host::ng-deep .field .p-multiselect-chip {
    width: 300px !important;
}

:host::ng-deep .clear-sort-icon {
    padding-top: 0.4rem;
    margin-left: 0.1rem;
}