/* Get rid of stubborn whitespace at top of page */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* Standard Clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }